<!doctype html>
<html ng-app="explanes">

  <head>
    <meta charset="utf-8" /> 
    <title>Explanes</title>
    <script src="angular.min.js"></script>
    <script src="utils.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic,700' rel='stylesheet' type='text/css'>
    <!--<link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400italic,700' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>

      
    <a href="https://github.com/mathieulagrange/expLanes">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"/>
    </a>
    
    <div ng-controller="PageController">

      <div id="top">
	<h2 style="font-size: 48px; margin-bottom: 10px">Explanes</h2>
	<h3 style="font-size: 20px; font-style: italic">Beautiful computational experiments</h3>
      </div>
      
      <div id="menu" ng-class="isAbsolute && 'normalMenu' || 'fixedMenu'">
	<!-- <a href="#you">For whom?</a> &mdash; -->
	<a href="##overview">Overview</a> &mdash;
	<a href="##download">Download</a> &mdash;
	<a href="##get_started">Get started</a> &mdash;
	<a href="##demos">Demos</a> &mdash;
	<a href="##doc">Documentation</a>
      </div>
    
      <div id="page">

	<div class="anchor"><a name="#you"/></div>

	<div id="profile">
	  <div class="profileSlide" ng-repeat="slide in slides"
	       ng-style="{zIndex:slide.position+5, display:slide.display}">
	    <div class="slideSlice" ng-repeat="slice in slide.slices"
		 ng-style="{left:(slice.x)+'px', width:slice.w+'px'}">
	      <img ng-src="{{slide.photo}}" ng-style="{left:(-slice.x)+'px'}"/>
	    </div>
	    <div class="profileTitle" ng-style="{opacity:slide.textOpacity}">{{slide.text}}</div>
	    <div class="bullet" ng-repeat="bullet in slide.bullets" ng-style="bullet.style">{{bullet.text}}</div>
	  </div>
	</div>

	<div ng-repeat = "panel in panels">
	  <div class="anchor"><a name="#{{panel.anchor}}"/></div>
	  <h1>{{panel.name}}</h1>
	  <div class="panel"
	       id="panel-{{$index}}"
	       ng-include="panel.page">
	  </div>
	</div>
      
	<div id="footer">
	  Footer
	</div>
      </div>
    </div>
  </body>
</html>
