
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


body {
    font-family: Helvetica, Arial, sans serif;
    font-size: 12px;
    background-color: #e8e0ff;
    color: #540;
}

div#page {
    width: 960px;
    margin: auto;
    margin-top: 250px;
    //overflow: hidden;
}

div#top {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Libre Baskerville';
}

div#top h2 {
    margin-top: 0px;
}

div#profile {
    position: relative;
    width: 800px;
    margin: auto;
    height: 250px;
    background-color: #44a;
    text-align: center;
    margin-bottom: 40px;
    padding: 50px;
    overflow: hidden;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .1);
}

div.profileSlide {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 250px;
}

div.profileSlide img {
    position: absolute;
    top: 0px;
    transition: left 0.7s ease-out;
}

div.slideSlice {
    position: absolute;
    overflow: hidden;
    top: 0px;
    height: 250px;
    transition: all 0.7s ease-out;
}

div.profileTitle {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 24px;
    color: #222;
    transition: opacity 0.7s;
}

div.bullet {
    position: absolute;
    transition: all 0.5s;
    color: #222;
    text-align: left;
}

div#tabs {
    width: 100%;
    overflow: hidden;
    background-color: #cb8;
    border: 1px dashed #750;
    border-right: none;
}

div.tab {
    float: left;
    width: 20%;
    cursor: pointer;
    background-color: #cb8;
    color: #430;
    text-align: center;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 15px;
    font-family: 'Libre Baskerville';
    border-right: 1px dashed #750;
}

div.tab:hover {
    background-color: #edc;
}

div.tab.selected {
    background-color: #dcb;
}

div#textPanels {
    margin-top: 20px;
    clear: both;
    position: relative;
    width: 4800px;
    transition: left 0.2s;
}

div.panel {
    width: 100%;
    background-color: #eed;
    color: black;
    padding: 15px;
}

div#footer {
    color: #aaa;
    margin-top: 30px;
    text-align: center;
}

div#menu {
    text-align: center;
    background-color: #e8e0ff;
    left: 0px;
    width: 100%;
    padding: 10px;
    z-index: 100;
}

div#menu div {
    width: auto;
}

div #menu a {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: #540;
    font-family: 'Libre Baskerville';
    font-size; 15px;
}

div.normalMenu {
    position: absolute;
    top: 200px;
}

div.fixedMenu {
    position: fixed;
    top: 0px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .2);
}

.anchor {
    position: relative;
}

.anchor a {
    position: absolute;
    top: -50px;
}

h1 {
    position: relative;
    left: -20px;
    font-family: 'Libre Baskerville';
    text-align: left;
    margin-top: 30px;
}